<section
  class="relative-positioned section section--dark-background section--success">
  <div class="container hero__container relative-positioned">
    <div class="hero__info">
      <h1 class="hero__title title--success">
        Дякуємо за замовлення клінінгу!
      </h1>

      <p class="hero__text">
        Ми зв’яжемося з вами найближчим часом для підтвердження дати та часу
        клінінгу.
      </p>
      @@include('../success/success-order-table.html')
      @@include('../success/success-services-table.html')
      <div class="success__wrap">
        <p class="hero__text text--success">
          Слідкуйте за нами в соц. мережах!
        </p>
        <ul class="socials socials--success">
          <li class="socials__item">
            <a
              class="socials__link"
              href="https://www.instagram.com/aba_cleaning1/"
              aria-label="Посилання на Інстраграм компанії"
              target="_blank">
              <svg
                class="socials__icon socials__inst-icon"
                width="40"
                height="40">
                <use href="images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link"
              href="https://www.facebook.com"
              aria-label="Посилання на Фейсбук компанії"
              target="_blank"
              ><svg
                class="socials__icon socials__facebook-icon"
                width="40"
                height="40">
                <use href="images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link"
              href="https://wa.me/14252758370?text=Hello%2C%20I%20would%20like%20to%20book%20a%20cleaning%20service.%20Here%20are%20the%20details%3A%0A%0A-%20Full%20Name%3A%20[Your%20Full%20Name]%0A-%20Phone%20Number%3A%20[Your%20Phone%20Number]%0A-%20Email%20Address%3A%20[Your%20Email%20Address]%0A-%20Type%20of%20Cleaning%3A%20[Type%20of%20Cleaning]%0A-%20Special%20Instructions%3A%20[Any%20Special%20Instructions]%0A%0APlease%20confirm%20the%20availability.%20Thank%20you!"
              aria-label="Посилання на Вотсап компанії"
              target="_blank"
              ><svg
                class="socials__icon socials__whatsApp-icon"
                width="40"
                height="40">
                <use href="images/sprite.svg#icon-whatsApp"></use>
              </svg>
            </a>
          </li>
        </ul>
        <a
          href="./index.html"
          class="hero__btn action-btn btn back-to-home-btn">
          На головну
        </a>
      </div>
    </div>
    <div class="image-success-thumb">
      <div class="image--success"></div>
    </div>
  </div>
</section>
