<section class="relative-positioned section section--dark-background section--error">
  <div class="container hero__container relative-positioned">
    <div class="hero__info">
      <h1 class="hero__title title--error">404</h1>
      <p class="hero__text">
        Unfortunately, the link is incorrect or this page does not exist. Please
        go to the home page of our site.
      </p>

      <a href="./index.html" class="hero__btn action-btn btn back-to-home-btn">
        Go to Home
      </a>
    </div>
    <div class="image-error-thumb">
      <div class="image--error"></div>
    </div>
  </div>
</section>
