<section class="section section--dark-background section--benefits-expanded">
  <div class="container">
    <h2 class="section__title visually-hidden">Features</h2>
    <ul class="features">

      <li class="features__item features__item--benefits">
        <div class="features__image-wrap">
          @@include('benefits-pictures/chemistry-picture.html')
        </div>
        <h3 class="features__title">Safe Chemicals</h3>
        <p class="features__desc">
          We use only <span>and non-aggressive chemicals</span>  for cleaning.
        </p>
      </li>

      <li class="features__item features__item--benefits">
        <div class="features__image-wrap">
          @@include('benefits-pictures/technic-picture.html')
        </div>
        <h3 class="features__title">Professional Equipment</h3>
        <p class="features__desc">
          Our top-quality <span>equipment</span>  guarantees thorough and efficient cleaning results.
        </p>
      </li>

      <li class="features__item features__item--benefits">
        <div class="features__icon-wrap">
          <div class="features__image-wrap">
            @@include('benefits-pictures/quality-picture.html')
          </div>
        </div>

        <h3 class="features__title">Quality Control</h3>
        <p class="features__desc">
          We always <span>ask for feedback</span> from our clients. If you are not satisfied with the cleaning — we will come and fix it immediately!
        </p>
      </li>
    </ul>
  </div>
</section>
