<section class="section section--dark-background connection">
  <div class="container">
    <h2 class="section__title title title--connection">Contact Us</h2>
    <div class="connection__wrapper">
      <div class="connection--first-block">
        <h3 class="connection__block-title">ABA Cleaning Services</h3>
        <p class="connection__block-text"><span>Kirkland</span></p>
        <p class="connection__block-text">Washington</p>
        <a href="tel:+48534517801" class="connection__btn tel-btn"
          >+1(425) 275 83-70</a
        >
        <ul class="socials connection__socials">
          <li class="socials__item socials__item--connection">
            <a
              class="socials__link"
              href="https://www.instagram.com/aba_cleaning1/"
              aria-label="Company Instagram link"
              target="_blank">
              <svg
                class="socials__icon socials__inst-icon"
                width="40"
                height="40">
                <use href="images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          
          <li class="socials__item socials__item--connection">
            <a
              class="socials__link"
              href="https://wa.me/14252758370?text=Hello%2C%20I%20would%20like%20to%20book%20a%20cleaning%20service.%20Here%20are%20the%20details%3A%0A%0A-%20Full%20Name%3A%20[Your%20Full%20Name]%0A-%20Phone%20Number%3A%20[Your%20Phone%20Number]%0A-%20Email%20Address%3A%20[Your%20Email%20Address]%0A-%20Type%20of%20Cleaning%3A%20[Type%20of%20Cleaning]%0A-%20Special%20Instructions%3A%20[Any%20Special%20Instructions]%0A%0APlease%20confirm%20the%20availability.%20Thank%20you!"
              aria-label="Company WhatsApp link"
              target="_blank">
              <svg
                class="socials__icon socials__whatsApp-icon"
                width="40"
                height="40">
                <use href="images/sprite.svg#icon-whatsApp"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="connection--second-block info-block">
        <h3 class="info-block__title info-block__title--connection">
          Our Live Support
        </h3>
        <p class="text text--marked">Text us</p>
        <!--  -->
        <p class="text">or call us at</p>
        <a href="tel:+48534517801" class="tel--support">+1(425) 275 83-70</a>
      </div>
    </div>
  </div>
</section>
