<footer class="footer">
  <div class="footer__wrap">
    <div class="container footer__container">
      <div class="footer__about-section footer__section">
        <h2 class="footer__title">About Us</h2>
        <ul class="about">
          <li class="about__item footer__item">
            <a href="./services.html" class="about__link footer__link">Services</a>
          </li>
          <li class="about__item footer__item">
            <a href="./calc-order.html" class="about__link footer__link">Pricing</a>
          </li>
          <li class="about__item footer__item">
            <a href="./faq.html" class="about__link footer__link">FAQ</a>
          </li>
          <li class="about__item footer__item">
            <a href="./contacts.html" class="about__link footer__link">Contacts</a>
          </li>
        </ul>
      </div>
      <div class="footer__services-section footer__section">
        <h2 class="footer__title">Services</h2>
        <ul class="services">
          <li class="services_item footer__item">
            <a href="./index.html" class="services_link footer__link">Apartment and House Cleaning</a>
          </li>
          <li class="services_item footer__item">
            <a href="./office.html" class="services_link footer__link">Office and Restaurant Cleaning</a>
          </li>
          <li class="services__item footer__item">
            <a href="./after-repair.html" class="services__link footer__link">Post-Renovation Cleaning</a>
          </li>
        </ul>
      </div>
      <div class="footer__contacts-section footer__section">
        <h2 class="footer__title">Contacts</h2>
        <ul class="footer__contacts">
          <li class="contacts_item footer__item">Available 24/7</li>
          <li class="contacts_item">
            <a href="tel:+48534517801" class="contacts__link footer__link">+48 534 517 801</a>
          </li>
          <li class="contacts__item footer__item">
            <a href="mailto:email@mail.com" class="contacts__link footer__link">email@mail.com</a>
          </li>
          <li class="contacts__item footer__item">
            <p class="contacts__link footer__link" data-location-modal-open>
              Kirkland, WA
            </p>
          </li>
        </ul>
      </div>
      <div class="footer__support-section footer__section">
        <h2 class="footer__title">Our Technical Support</h2>
        <ul class="socials footer__socials">
          <li class="socials__item socials__item--white-bg">
            <a
              class="socials__link"
              href="https://www.instagram.com/"
              aria-label="Company Instagram link"
              target="_blank"
            >
              <svg
                class="socials__icon socials__inst-icon socials__icon--footer"
                width="40"
                height="40"
              >
                <use href="images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item socials__item--white-bg">
            <a
              class="socials__link"
              href="https://www.facebook.com"
              aria-label="Company Facebook link"
              target="_blank"
            >
              <svg
                class="socials__icon socials__facebook-icon socials__icon--footer"
                width="40"
                height="40"
              >
                <use href="images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item socials__item--white-bg">
            <a
              class="socials__link"
              href="https://www.messenger.com/"
              aria-label="Company WhatsApp link"
              target="_blank"
            >
              <svg
                class="socials__icon socials__whatsApp-icon socials__icon--footer"
                width="40"
                height="40"
              >
                <use href="images/sprite.svg#icon-whatsApp"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container footer__copyright">
      <span class="copyright__text">© 2024 All rights reserved</span>
      
    </div>
  </div>
</footer>
