<section
  class="section section--dark-background no-padding-bottom section--home-maintenance">
  <div class="container">
    <div class="maintenance maintenance--home">
      <div class="info-block info-block--home-maintenance">
        <h3 class="info-block__title title--home-maintenance">
          ABA Cleaning Services will help you organize and maintain cleanliness
          in your home
        </h3>
        <ul
          class="info-block__list info-block__list--maintenance maintenance--desktop">
          <li class="info-block__item text text--marked">
            We will clean your apartment before guests arrive.
          </li>
          <li class="info-block__item text text--marked">
            We will clean up after a loud party.
          </li>
          <li class="info-block__item text text--marked">
            We will do deep cleaning and free you from the need to spend your
            free time on this.
          </li>
          <li class="info-block__item text text--marked">
            We will maintain cleanliness in your home even while you're at work!
          </li>
        </ul>
        <ul
          class="info-block__list info-block__list--maintenance maintenance--tablet">
          <li class="info-block__item text text--marked">
            We will clean your apartment before guests arrive.
          </li>
          <li class="info-block__item text text--marked">
            We will clean up after a loud party.
          </li>
          <li class="info-block__item text text--marked">
            We will do deep cleaning and free you from the need to spend your
            free time on this.
          </li>
          <li class="info-block__item text text--marked">
            We will maintain cleanliness in your home even while you're at work!
          </li>
        </ul>
        <ul
          class="info-block__list info-block__list--maintenance maintenance--mobile">
          <li class="info-block__item text text--marked">
            We will clean your apartment before guests arrive.
          </li>
          <li class="info-block__item text text--marked">
            We will clean up after a loud party.
          </li>
          <li class="info-block__item text text--marked">
            We will do deep cleaning and free you from the need to spend your
            free time on this.
          </li>
          <li class="info-block__item text text--marked">
            We will maintain cleanliness in your home even while you're at work!
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
