<ul class="block-wrapper">
  <li class="block">
    <p class="block__number">01</p>
    <h3 class="block__title">Comprehensive Cleaning</h3>
    <p class="block__text">
      Our team uses top-quality tools and safe, effective cleaning products. We thoroughly clean your home, removing dust, dirt, and grime from all surfaces. Services include organizing, washing windows, and taking out the trash. Every 6 months, we offer additional upholstery cleaning.
    </p>
  </li>
  <li class="block">
    <p class="block__number">02</p>
    <h3 class="block__title">Regular Maintenance</h3>
    <p class="block__text">
      We handle changing bed linens, tidying up, dusting surfaces, vacuuming, and mopping floors. Our goal is to keep your home consistently clean and comfortable!
    </p>
    <p class="block__remark">* Ounter window washing is not included</p>
  </li>
</ul>
