<section class="section section--dark-background section--calc-order-cost">
  <div class="container order-cleaning__container relative-positioned">
    <h2 class="section__title title--office-calc">
      Cleaning reservation
    </h2>
    <div class="office-calc__wrap" id="office-calc-block">
      <div class="form--subscription office-calc__block data-order"> 
        <h3 class="form-title">Your Details</h3>
        <form class="subscr__form form" method="POST">
          @@include('user-order-data.html')
        </form>
      </div>
      
      <div class="discount" id="office-calc-discount">
        <span class="discount__value">-10%</span>
        <span class="discount__text">on your first cleaning!</span>
        <span class="discount__remark">
          *Specify that this is your first order in the comment field
        </span>
      </div>
    </div>
  </div>
</section>
