<ul class="questions__list">
  <li class="questions__item accordion no-padding-top">
    <div class="relative-positioned accordion__intro">
      <h3 class="question__title">How much does cleaning cost?</h3>
      <button type="button" class="toggle-question-btn plus-btn">
        <svg
          class="toggle-question-icon icon--plus"
          width="23"
          height="23"
          aria-label="toggle show/hide answer"
        >
          <use href="images/sprite.svg#icon-plus"></use>
        </svg>
        <svg
          class="toggle-question-icon icon--minus isHidden"
          width="23"
          height="23"
          aria-label="toggle show/hide answer"
        >
          <use href="images/sprite.svg#icon-minus"></use>
        </svg>
      </button>
    </div>
    <div class="accordion__content">
      <p class="questions__text">
        For houses and apartments, we offer a promotional monthly subscription costing 
        <span>399zł</span>.
      </p>
      <p class="questions__text">
        The subscription includes 1 general cleaning and 1 maintenance cleaning.
      </p>
      <p class="questions__text">
        Office and restaurant cleaning — <span>2zł per m²</span>.
      </p>
      <p class="questions__text">
        Post-renovation cleaning — <span>5zł per m²</span>.
      </p>
    </div>
  </li>
  <li class="questions__item accordion">
    <div class="relative-positioned accordion__intro">
      <h3 class="question__title">What products do we use?</h3>
      <button type="button" class="toggle-question-btn plus-btn">
        <svg
          class="toggle-question-icon icon--plus"
          width="23"
          height="23"
          aria-label="toggle show/hide answer"
        >
          <use href="images/sprite.svg#icon-plus"></use>
        </svg>
        <svg
          class="toggle-question-icon icon--minus isHidden"
          width="23"
          height="23"
          aria-label="toggle show/hide answer"
        >
          <use href="images/sprite.svg#icon-minus"></use>
        </svg>
      </button>
    </div>
    <div class="accordion__content">
      <p class="questions__text">
        In our work, we use only high-quality German equipment 
        <span>KARCHER</span> and cleaning products <span>KIEHL</span>. All our chemicals 
        are completely safe and do not cause allergies.
      </p>
    </div>
  </li>
  <li class="questions__item accordion">
    <div class="relative-positioned accordion__intro">
      <h3 class="question__title">How long does cleaning take?</h3>
      <button type="button" class="toggle-question-btn plus-btn">
        <svg
          class="toggle-question-icon icon--plus"
          width="23"
          height="23"
          aria-label="toggle show/hide answer"
        >
          <use href="images/sprite.svg#icon-plus"></use>
        </svg>
        <svg
          class="toggle-question-icon icon--minus isHidden"
          width="23"
          height="23"
          aria-label="toggle show/hide answer"
        >
          <use href="images/sprite.svg#icon-minus"></use>
        </svg>
      </button>
    </div>
    <div class="accordion__content">
      <p class="questions__text">
        The duration of cleaning depends on the size of the space and the degree 
        of dirt. Our cleaners usually finish cleaning within 2-3 hours.
      </p>
    </div>
  </li>
  <li class="questions__item accordion">
    <div class="relative-positioned accordion__intro">
      <h3 class="question__title">What is a cleaning subscription?</h3>
      <button type="button" class="toggle-question-btn plus-btn">
        <svg
          class="toggle-question-icon icon--plus"
          width="23"
          height="23"
          aria-label="toggle show/hide answer"
        >
          <use href="images/sprite.svg#icon-plus"></use>
        </svg>
        <svg
          class="toggle-question-icon icon--minus isHidden"
          width="23"
          height="23"
          aria-label="toggle show/hide answer"
        >
          <use href="images/sprite.svg#icon-minus"></use>
        </svg>
      </button>
    </div>
    <div class="accordion__content">
      <p class="questions__text">
        The subscription is a unique promotional offer for a monthly cleaning package! 
        The advantage of the subscription is that you get 1 general cleaning and 1 
        maintenance cleaning per month at an affordable price. You don't need to 
        spend time re-ordering a cleaner, once the subscription is arranged, we 
        will arrive at the agreed time.
      </p>
    </div>
  </li>
  <li class="questions__item accordion">
    <div class="relative-positioned accordion__intro">
      <h3 class="question__title">What is the guarantee of quality cleaning?</h3>
      <button type="button" class="toggle-question-btn plus-btn">
        <svg
          class="toggle-question-icon icon--plus"
          width="23"
          height="23"
          aria-label="toggle show/hide answer"
        >
          <use href="images/sprite.svg#icon-plus"></use>
        </svg>
        <svg
          class="toggle-question-icon icon--minus isHidden"
          width="23"
          height="23"
          aria-label="toggle show/hide answer"
        >
          <use href="images/sprite.svg#icon-minus"></use>
        </svg>
      </button>
    </div>
    <div class="accordion__content">
      <p class="questions__text">
        We carefully monitor the quality of cleaning and collect feedback from 
        each client. If you are not satisfied with the quality of the cleaning, 
        we will come back and clean again within the next few days.
      </p>
    </div>
  </li>
  <li class="questions__item accordion">
    <div class="relative-positioned accordion__intro">
      <h3 class="question__title">How to order and pay for cleaning?</h3>

      <button type="button" class="toggle-question-btn plus-btn">
        <svg
          class="toggle-question-icon icon--plus"
          width="23"
          height="23"
          aria-label="toggle show/hide answer"
        >
          <use href="images/sprite.svg#icon-plus"></use>
        </svg>
        <svg
          class="toggle-question-icon icon--minus isHidden"
          width="23"
          height="23"
          aria-label="toggle show/hide answer"
        >
          <use href="images/sprite.svg#icon-minus"></use>
        </svg>
      </button>
    </div>
    <div class="accordion__content">
      <p class="questions__text">
        You can order and pay for cleaning directly on our website! Enter 
        your details, date, and address into the form and choose a convenient 
        payment method (online or cash on delivery). Additionally, on our website, 
        you can calculate the cost of cleaning the premises using the 
        <a href="./calc-order.html"><span>calculator!</span></a>
      </p>
    </div>
  </li>
</ul>
