<section class="section section--trust section--dark-background">
  <div class="container">
    <div class="section__container trust__container">
      <h2 class="section__title title">Why You Can Trust Us</h2>
      <ul class="block-wrapper block-wrapper--trust">
        <li class="block block--trust">
          <p class="block__number">01</p>
          <h3 class="block__title">Individual Approach</h3>
          <p class="block__text block__text--trust">
            We know that no two spaces are equally dirty. Therefore, we approach
            each cleaning individually. We bring the space to "crystal"
            cleanliness regardless of the level of dirt.
          </p>
        </li>
        <li class="block block--trust block--zIndex">
          <p class="block__number">02</p>
          <h3 class="block__title">We Monitor Cleaning Quality</h3>
          <p class="block__text block__text--trust">
            After each cleaning, we collect honest feedback from clients about
            the cleaners' work.
          </p>
          <p class="block__text block__text--trust">
            If the client is not satisfied with the cleaning quality, we provide
            a re-cleaning or a full refund.
          </p>
        </li>
        <li class="block block--trust">
          <p class="block__number">03</p>
          <h3 class="block__title">
            Professional Equipment and Safe Chemicals
          </h3>
          <p class="block__text block__text--trust">
            Our equipment ensures thorough and high-quality cleaning. The
            cleaning products we use have high cleaning capabilities and can
            handle even tough dirt. All our chemicals are odorless and
            hypoallergenic.
          </p>
        </li>
        <li class="block block--trust">
          <p class="block__number">04</p>
          <h3 class="block__title">Fair Prices Accessible to Everyone</h3>
          <p class="block__text block__text--trust">
            The cost of our services is formed in a transparent manner. ABA
            Cleaning Services clients can save by ordering a promotional monthly
            subscription or taking advantage of our special offers.
          </p>
        </li>
      </ul>
      <div class="animated-btn-wrap">
        <a
          href="#"
          class="dynamic-link btn action-btn order-btn btn--centered blob-btn">
          Order Cleaning
          <span class="blob-btn__inner">
            <span class="blob-btn__blobs">
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
            </span>
          </span>
        </a>
        <svg class="animated-btn-icon">
          <defs>
            <filter id="goo-13" x="0%" y="0%" width="100%" height="100%">
              <feGaussianBlur
                in="SourceGraphic"
                result="blur"
                stdDeviation="10"></feGaussianBlur>
              <feColorMatrix
                in="blur"
                type="matrix"
                values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                result="goo"></feColorMatrix>
              <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
            </filter>
          </defs>
        </svg>
      </div>
    </div>
  </div>
</section>
